<?xml version="1.0" encoding="utf-8" ?>

<Settings xmlns="https://scott.center/PiUnit">
	<NetworkSendInterval>1000</NetworkSendInterval>
	<NetworkHost>192.168.1.42</NetworkHost>
	<NetworkPort>11050</NetworkPort>

	<GpioPollInterval>1000</GpioPollInterval>
	<GpioShutdownTimer>1</GpioShutdownTimer>
	<GpioList>
		<Gpio function="Shutdown" enabled="true">3</Gpio>
	</GpioList>
</Settings>